a:link, a:visited {
  color: #5A6378;
}

a:hover {
  color: #60B5CC;
  text-decoration: underline;
}

.header {
  border-bottom: 1px solid #eee;
  overflow: auto;
}

.header img {
  height: 30px;
  float: left;
  margin-top: 25px;
}

.header h1 {
  float: left;
  margin-left: 20px;
}
.site-container {
  font-family: Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 20px auto;
}

.body {
  overflow: auto;
  margin: 10px 0;
}

.navigation {
  padding: 5px 0 15px 0;
  border-bottom: 1px solid #eee;
}
.navigation ul {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  font-size: 17px;
}

.navigation a:link,
.navigation a:visited {
  text-decoration: none;
}


.mainBody {
  margin: 5px 0;
  padding: 5px 0 30px 0;
  border-bottom: 1px solid #eee;
}


.mainBody p {
  font-size: 16px;
  line-height: 24px;
}

pre {
  font-size: 17px;
}

p > code {
  background: #eee;
  font-size: 17px;
}
